<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="modal-text"></span>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary">Sim</button>
                    <button type="button" class="btn btn-outline-primary ml-1" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDynamic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-html"></div>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary"></button>
                    <button type="button" class="btn btn-outline-primary ml-1" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</div>